.header{
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
    background-color:chartreuse;
    color: green;
    height: 100px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo-header{
    text-align: left ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#cliente-name-header{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#funcionario-name-header{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.button-logout {
    background-color: green;
    /* Blue */
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button-logout {
    background-color:greenyellow;
    color: black;
    border: 1px solid green;
    border-radius: 12px;
}

#button-logout:hover {
    background-color: white;
    color: black;
}

.logado{
    display: flex;
    flex-direction: column;
}