.cardAluguel {
    background-color: cyan;
    align-items: center;
    width: 49%;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    height: 7rem;
    margin: 1rem 0;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}

.aprovar-button{
    background-color: green;
        /* Blue */
        border: none;
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
}

#button-aprovar{
    background-color: greenyellow;
        color: black;
        border: 1px solid green;
        border-radius: 12px;
        height: 40px;
}

#button-aprovar:hover{
    
    background-color: white;
    color: black;
}

.recusar-button {
    background-color: green;
    /* Blue */
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button-recusar {
    background-color:red;
    color: black;
    border: 1px solid red;
    border-radius: 12px;
    height: 40px;
}

#button-recusar:hover {

    background-color: white;
    color: black;
}


.tabela-funcionario {
    display: flex;
}

.buttons-funcionario{
    display: flex;
    flex-direction: column;
    padding: 10px;
}